%h2 Sign in

= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f|
  .control-group
    = f.label :email, class: "control-label"
    .controls
      = f.email_field :email
  .control-group
    = f.label :password, class: "control-label"
    .controls
      = f.password_field :password
  .control-group
    .controls
      = f.submit "Sign in", class: "btn"
      or
      = link_to "Sign up", new_registration_path
      - [:facebook, :linkedin].each do |provider|
        or
        = link_to "Sign in with #{provider.to_s.capitalize}", user_omniauth_authorize_path(provider)