.hero-unit
  %dl.dl-horizontal
    %dt Name
    %dd= @profile.name
    %dt Email
    %dd= @profile.email
    %dt Location
    %dd= @profile.location
    %dt Summary
    %dd= @profile.summary
    %dt Helped
    %dd= pluralize @user.helps_count, "time"
  %p= tag_list(@profile.tag_list)