%h2 Sign up
= form_for(@user, url: registration_path, html: {class: "form-horizontal"}) do |f|
  .control-group
    = f.label :email, class: "control-label"
    .controls
      = f.email_field :email
  .control-group
    = f.label :password, class: "control-label"
    .controls
      = f.password_field :password
  .control-group
    = f.label :password_confirmation, class: "control-label"
    .controls
      = f.password_field :password_confirmation
  .control-group
    = f.label :name, class: "control-label"
    .controls
      = f.text_field :name
  .control-group
    .controls
      = f.submit "Sign up", class: "btn"
      or
      -#= link_to "Sign in", new_user_session_path